.portfolio {
  margin-bottom: 200px;
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 90px;
    margin-bottom: 95px;
  }
  &-column {
    display: flex;
    flex-direction: column;
    gap: 85px 0;
  }
  &-img {
    margin-bottom: 40px;
    display: block;
  }
  &-title {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  &-category {
    color: $gray-light;
  }
  &-link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
